---
published: true
---
@font-face {
	font-family: "LinBiolinum";
	src: url("../assets/LinBiolinum_R.ttf");
}

@font-face {
	font-family: "LinBiolinumB";
	src: url("../assets/LinBiolinum_RB.ttf");
}

@import "highlight";
@import "yefeme";
